# Data Exploration and Preprocessing

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from geopy.distance import geodesic
from scipy import stats

### Basic Data Exploration

In [2]:
data = pd.read_csv('train.csv')
data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [3]:
data.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06
mean,1.534950e+00,1.664530e+00,-7.397349e+01,4.075092e+01,-7.397342e+01,4.075180e+01,9.594923e+02
std,4.987772e-01,1.314242e+00,7.090186e-02,3.288119e-02,7.064327e-02,3.589056e-02,5.237432e+03
min,1.000000e+00,0.000000e+00,-1.219333e+02,3.435970e+01,-1.219333e+02,3.218114e+01,1.000000e+00
25%,1.000000e+00,1.000000e+00,-7.399187e+01,4.073735e+01,-7.399133e+01,4.073588e+01,3.970000e+02
50%,2.000000e+00,1.000000e+00,-7.398174e+01,4.075410e+01,-7.397975e+01,4.075452e+01,6.620000e+02
75%,2.000000e+00,2.000000e+00,-7.396733e+01,4.076836e+01,-7.396301e+01,4.076981e+01,1.075000e+03
max,2.000000e+00,9.000000e+00,-6.133553e+01,5.188108e+01,-6.133553e+01,4.392103e+01,3.526282e+06

In [4]:
data.shape

(1458644, 11)

In [5]:
data.isna().sum()

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

In [6]:
data.duplicated().sum()

0

In [7]:
data.dtypes

id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

### Data Preprocessing

In [8]:
data['pickup_datetime'] = pd.to_datetime(data['pickup_datetime'])
data['dropoff_datetime'] = pd.to_datetime(data['dropoff_datetime'])

In [9]:
data.dtypes

id                            object
vendor_id                      int64
pickup_datetime       datetime64[ns]
dropoff_datetime      datetime64[ns]
passenger_count                int64
pickup_longitude             float64
pickup_latitude              float64
dropoff_longitude            float64
dropoff_latitude             float64
store_and_fwd_flag            object
trip_duration                  int64
dtype: object

In [10]:
data['week_day'] = data.pickup_datetime.dt.strftime('%A')
data['week_day_num'] = data.pickup_datetime.dt.weekday
data['month'] = data.pickup_datetime.dt.month
data['pickup_hour'] = data.pickup_datetime.dt.hour

In [11]:
data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,week_day,week_day_num,month,pickup_hour
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,Monday,0,3,17
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,Sunday,6,6,0
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,Tuesday,1,1,11
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,Wednesday,2,4,19
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,Saturday,5,3,13

In [12]:
distance = []
for index in data['pickup_latitude'].index:
    distance.append(geodesic((data['pickup_latitude'].iloc[index], data['pickup_longitude'].iloc[index]), (data['dropoff_latitude'].iloc[index], data['dropoff_longitude'].iloc[index])).kilometers)

data['distance'] = distance

In [13]:
data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,week_day,week_day_num,month,pickup_hour,distance
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,Monday,0,3,17,1.502172
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,Sunday,6,6,0,1.808660
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,Tuesday,1,1,11,6.379687
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,Wednesday,2,4,19,1.483632
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,Saturday,5,3,13,1.187038

In [14]:
data['speed_m_s'] = (data['distance'] * 1000)/ data['trip_duration']

In [15]:
data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,week_day,week_day_num,month,pickup_hour,distance,speed_m_s
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,Monday,0,3,17,1.502172,3.301477
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,Sunday,6,6,0,1.808660,2.727994
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,Tuesday,1,1,11,6.379687,3.003619
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,Wednesday,2,4,19,1.483632,3.458351
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,Saturday,5,3,13,1.187038,2.728822

In [16]:
data['speed_km_hr'] = (data['distance'] * 3600) / data['trip_duration']

In [17]:
data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,week_day,week_day_num,month,pickup_hour,distance,speed_m_s,speed_km_hr
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,Monday,0,3,17,1.502172,3.301477,11.885316
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,Sunday,6,6,0,1.808660,2.727994,9.820778
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,Tuesday,1,1,11,6.379687,3.003619,10.813029
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,Wednesday,2,4,19,1.483632,3.458351,12.450063
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,Saturday,5,3,13,1.187038,2.728822,9.823760

### Identifying the Outliers

In [18]:
data.dtypes

id                            object
vendor_id                      int64
pickup_datetime       datetime64[ns]
dropoff_datetime      datetime64[ns]
passenger_count                int64
pickup_longitude             float64
pickup_latitude              float64
dropoff_longitude            float64
dropoff_latitude             float64
store_and_fwd_flag            object
trip_duration                  int64
week_day                      object
week_day_num                   int64
month                          int64
pickup_hour                    int64
distance                     float64
speed_m_s                    float64
speed_km_hr                  float64
dtype: object

In [22]:
numerical_columns = ['trip_duration', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'distance', 'speed_m_s', 'speed_km_hr']
for column in numerical_columns:
    z_scores = stats.zscore(data[column])
    threshold = 3  
    outliers = data[abs(z_scores) > threshold]
    print(f"Outliers in column '{column}':")
    print(outliers)

Outliers in column 'trip_duration':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
531      id3307903          2 2016-02-20 04:03:06 2016-02-21 03:33:00
1134     id1091477          2 2016-05-07 18:36:22 2016-05-08 18:32:11
1865     id3431345          2 2016-06-07 12:58:48 2016-06-08 12:58:00
3442     id1487069          2 2016-02-13 00:21:49 2016-02-14 00:19:05
4172     id3674870          2 2016-03-18 11:54:20 2016-03-19 11:34:17
...            ...        ...                 ...                 ...
1455097  id2798196          2 2016-03-20 03:51:36 2016-03-21 00:00:00
1456458  id2055880          2 2016-02-08 19:11:31 2016-02-09 19:08:44
1457207  id1910950          2 2016-06-08 16:29:12 2016-06-09 16:11:03
1457752  id1215198          2 2016-02-02 11:31:10 2016-02-03 11:29:44
1458076  id2332290          2 2016-04-24 00:58:34 2016-04-25 00:56:16

         passenger_count  pickup_longitude  pickup_latitude  \
531                    3        -74.008102        40.741489
1134                   1        -73.990242        40.750919
1865                   6        -73.954956        40.777649
3442                   1        -73.968590        40.799217
4172                   1        -73.989090        40.736992
...                  ...               ...              ...
1455097                2        -73.969299        40.757301
1456458                3        -73.973282        40.760792
1457207                1        -73.958061        40.800869
1457752                6        -73.972069        40.794220
1458076                1        -73.990479        40.760876

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
531             -74.009956         40.714611                  N
1134            -73.976280         40.750889                  N
1865            -73.981033         40.743713                  N
3442            -73.979584         40.784714                  N
4172            -73.972336         40.751511                  N
...                    ...               ...                ...
1455097         -73.870277         40.709808                  N
1456458         -73.988518         40.764210                  N
1457207         -73.964119         40.805515                  N
1457752         -73.961014         40.806728                  N
1458076         -73.983025         40.764557                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  distance  \
531              84594   Saturday             5      2            4  2.988912
1134             86149   Saturday             5      5           18  1.179094
1865             86352    Tuesday             1      6           12  4.364658
3442             86236   Saturday             5      2            0  1.858770
4172             85197     Friday             4      3           11  2.145191
...                ...        ...           ...    ...          ...       ...
1455097          72504     Sunday             6      3            3  9.888550
1456458          86233     Monday             0      2           19  1.341291
1457207          85311  Wednesday             2      6           16  0.726316
1457752          86314    Tuesday             1      2           11  1.673263
1458076          86262     Sunday             6      4            0  0.750487

         speed_m_s  speed_km_hr
531       0.035332     0.127197
1134      0.013687     0.049272
1865      0.050545     0.181962
3442      0.021554     0.077596
4172      0.025179     0.090645
...            ...          ...
1455097   0.136386     0.490991
1456458   0.015554     0.055995
1457207   0.008514     0.030649
1457752   0.019386     0.069789
1458076   0.008700     0.031320

[2073 rows x 18 columns]
Outliers in column 'pickup_longitude':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
1620     id0753277          1 2016-01-27 22:29:31 2016-01-27 22:29:58
7201     id3032018          2 2016-05-02 07:27:12 2016-05-02 07:35:54
11805    id3535158          1 2016-02-11 18:57:20 2016-02-11 19:14:00
13006    id3022813          1 2016-06-15 18:02:41 2016-06-15 18:03:18
20077    id3733479          2 2016-05-22 03:58:40 2016-05-22 03:59:02
...            ...        ...                 ...                 ...
1433545  id3456774          2 2016-04-07 07:58:02 2016-04-07 08:26:36
1442996  id0722344          1 2016-05-20 18:36:59 2016-05-20 18:37:08
1447627  id0938504          2 2016-06-21 22:02:51 2016-06-21 22:03:07
1451915  id2972542          1 2016-02-05 10:07:17 2016-02-05 10:16:30
1455798  id2326514          1 2016-05-23 00:32:52 2016-05-23 00:32:57

         passenger_count  pickup_longitude  pickup_latitude  \
1620                   1        -74.209854        40.816853
7201                   2        -73.756172        40.716084
11805                  1        -73.735237        40.822712
13006                  1        -73.558289        40.781223
20077                  1        -74.347069        40.708519
...                  ...               ...              ...
1433545                1        -73.727348        40.709961
1442996                1        -73.399712        40.670555
1447627                1        -74.356659        40.719189
1451915                1        -73.737488        40.740849
1455798                1        -73.693184        40.743401

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
1620            -74.209854         40.816853                  N
7201            -73.756172         40.716084                  N
11805           -73.735237         40.822712                  N
13006           -73.558281         40.781227                  N
20077           -74.347069         40.708523                  N
...                    ...               ...                ...
1433545         -73.727348         40.709961                  N
1442996         -73.399712         40.670555                  Y
1447627         -74.356659         40.719189                  N
1451915         -73.737488         40.740849                  N
1455798         -73.692520         40.743797                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  distance  \
1620                27  Wednesday             2      1           22  0.000000
7201               522     Monday             0      5            7  0.000000
11805             1000   Thursday             3      2           18  0.000000
13006               37  Wednesday             2      6           18  0.000771
20077               22     Sunday             6      5            3  0.000424
...                ...        ...           ...    ...          ...       ...
1433545           1714   Thursday             3      4            7  0.000000
1442996              9     Friday             4      5           18  0.000000
1447627             16    Tuesday             1      6           22  0.000000
1451915            553     Friday             4      2           10  0.000000
1455798              5     Monday             0      5            0  0.071301

         speed_m_s  speed_km_hr
1620      0.000000     0.000000
7201      0.000000     0.000000
11805     0.000000     0.000000
13006     0.020834     0.075002
20077     0.019255     0.069319
...            ...          ...
1433545   0.000000     0.000000
1442996   0.000000     0.000000
1447627   0.000000     0.000000
1451915   0.000000     0.000000
1455798  14.260174    51.336627

[367 rows x 18 columns]
Outliers in column 'pickup_latitude':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
86       id0283075          1 2016-04-06 23:42:26 2016-04-07 00:12:08
98       id2102594          1 2016-03-30 16:14:29 2016-03-30 17:01:33
102      id0105610          1 2016-02-19 20:01:24 2016-02-19 20:35:49
104      id3508035          2 2016-06-06 20:13:56 2016-06-06 20:45:20
231      id1868620          2 2016-06-18 00:41:28 2016-06-18 01:10:34
...            ...        ...                 ...                 ...
1458550  id2976426          1 2016-06-06 10:48:13 2016-06-06 11:40:31
1458571  id1440046          1 2016-06-26 22:59:48 2016-06-26 23:40:42
1458584  id1607338          2 2016-06-14 20:37:11 2016-06-14 21:16:06
1458589  id2071901          1 2016-06-10 16:48:20 2016-06-10 17:23:13
1458600  id0995846          2 2016-05-09 17:26:56 2016-05-09 18:30:37

         passenger_count  pickup_longitude  pickup_latitude  \
86                     1        -73.782478        40.644646
98                     1        -73.789841        40.643559
102                    3        -73.789719        40.643707
104                    6        -73.788132        40.641460
231                    1        -73.781860        40.644684
...                  ...               ...              ...
1458550                3        -73.784454        40.648521
1458571                2        -73.778946        40.647343
1458584                1        -73.786697        40.641628
1458589                2        -73.782280        40.644783
1458600                2        -73.789543        40.647099

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
86              -73.981125         40.720886                  N
98              -73.970665         40.687279                  N
102             -73.978699         40.750343                  N
104             -73.971771         40.749409                  N
231             -73.961922         40.767033                  N
...                    ...               ...                ...
1458550         -73.972176         40.757133                  N
1458571         -73.952103         40.781166                  N
1458584         -73.996880         40.732506                  N
1458589         -73.904305         40.738285                  N
1458600         -73.960320         40.798180                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
86                1782  Wednesday             2      4           23
98                2824  Wednesday             2      3           16
102               2065     Friday             4      2           20
104               1884     Monday             0      6           20
231               1746   Saturday             5      6            0
...                ...        ...           ...    ...          ...
1458550           3138     Monday             0      6           10
1458571           2454     Sunday             6      6           22
1458584           2335    Tuesday             1      6           20
1458589           2093     Friday             4      6           16
1458600           3821     Monday             0      5           17

          distance  speed_m_s  speed_km_hr
86       18.806512  10.553598    37.992953
98       16.042634   5.680819    20.450950
102      19.883300   9.628717    34.663380
104      19.611575  10.409541    37.474347
231      20.399558  11.683596    42.060944
...            ...        ...          ...
1458550  19.928867   6.350818    22.862945
1458571  20.854744   8.498266    30.593757
1458584  20.433126   8.750804    31.502893
1458589  14.635408   6.992550    25.173181
1458600  22.128177   5.791200    20.848322

[33563 rows x 18 columns]
Outliers in column 'dropoff_longitude':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
986      id0015493          1 2016-06-12 05:11:44 2016-06-12 05:52:35
991      id1859156          1 2016-02-17 00:54:13 2016-02-17 01:36:27
1101     id3913560          2 2016-01-11 22:48:55 2016-01-11 23:40:20
1620     id0753277          1 2016-01-27 22:29:31 2016-01-27 22:29:58
1725     id0880914          1 2016-03-28 23:41:58 2016-03-29 00:14:19
...            ...        ...                 ...                 ...
1451372  id0612119          1 2016-05-26 07:33:24 2016-05-26 07:47:40
1451915  id2972542          1 2016-02-05 10:07:17 2016-02-05 10:16:30
1454727  id3458201          2 2016-05-03 21:39:04 2016-05-03 22:42:51
1455798  id2326514          1 2016-05-23 00:32:52 2016-05-23 00:32:57
1456694  id1230088          2 2016-03-03 21:01:17 2016-03-03 21:22:40

         passenger_count  pickup_longitude  pickup_latitude  \
986                    1        -74.005486        40.728619
991                    3        -73.969254        40.754047
1101                   2        -74.012657        40.702179
1620                   1        -74.209854        40.816853
1725                   1        -73.995865        40.743988
...                  ...               ...              ...
1451372                1        -73.783859        40.648746
1451915                1        -73.737488        40.740849
1454727                1        -73.876328        40.772141
1455798                1        -73.693184        40.743401
1456694                1        -73.776741        40.645260

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
986             -73.643425         40.670380                  N
991             -73.593582         41.043865                  N
1101            -74.307762         40.567341                  N
1620            -74.209854         40.816853                  N
1725            -73.744270         40.707783                  N
...                    ...               ...                ...
1451372         -73.735062         40.656528                  N
1451915         -73.737488         40.740849                  N
1454727         -73.287422         41.138100                  N
1455798         -73.692520         40.743797                  N
1456694         -73.712242         40.633598                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
986               2451     Sunday             6      6            5
991               2534  Wednesday             2      2            0
1101              3085     Monday             0      1           22
1620                27  Wednesday             2      1           22
1725              1941     Monday             0      3           23
...                ...        ...           ...    ...          ...
1451372            856   Thursday             3      5            7
1451915            553     Friday             4      2           10
1454727           3827    Tuesday             1      5           21
1455798              5     Monday             0      5            0
1456694           1283   Thursday             3      3           21

          distance  speed_m_s  speed_km_hr
986      31.275906  12.760468    45.937684
991      45.143322  17.815044    64.134159
1101     29.111235   9.436381    33.970972
1620      0.000000   0.000000     0.000000
1725     21.632309  11.144930    40.121747
...            ...        ...          ...
1451372   4.216578   4.925908    17.733270
1451915   0.000000   0.000000     0.000000
1454727  64.108853  16.751725    60.306211
1455798   0.071301  14.260174    51.336627
1456694   5.607665   4.370744    15.734679

[2474 rows x 18 columns]
Outliers in column 'dropoff_latitude':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
24       id3321406          2 2016-06-03 08:15:05 2016-06-03 08:56:30
67       id3913101          1 2016-06-25 22:05:46 2016-06-25 22:22:29
115      id2358953          2 2016-06-27 00:31:28 2016-06-27 01:06:44
167      id0906779          1 2016-04-19 08:31:48 2016-04-19 09:14:11
351      id2440671          2 2016-02-17 17:40:25 2016-02-17 18:13:13
...            ...        ...                 ...                 ...
1457723  id3618206          2 2016-02-26 21:35:30 2016-02-26 22:07:38
1457806  id1954633          1 2016-01-05 16:27:35 2016-01-05 17:05:48
1457951  id2836993          2 2016-02-29 14:26:54 2016-02-29 14:49:23
1458375  id2991952          1 2016-05-15 22:12:30 2016-05-15 22:45:04
1458553  id2796154          1 2016-04-21 03:30:00 2016-04-21 03:51:30

         passenger_count  pickup_longitude  pickup_latitude  \
24                     1        -73.955231        40.777134
67                     2        -74.001411        40.761433
115                    1        -73.870819        40.773739
167                    2        -73.971558        40.750629
351                    1        -73.863655        40.769623
...                  ...               ...              ...
1457723                3        -73.789734        40.643734
1457806                2        -73.938698        40.695141
1457951                1        -73.788361        40.641460
1458375                1        -73.990234        40.734268
1458553                1        -73.985817        40.727772

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
24              -73.788750         40.641472                  N
67              -73.924629         40.864029                  N
115             -73.857498         41.017811                  N
167             -73.952629         40.631596                  N
351             -73.913223         40.872799                  N
...                    ...               ...                ...
1457723         -74.000504         40.616089                  N
1457806         -73.922386         40.635788                  N
1457951         -73.764626         40.604347                  N
1458375         -73.954575         40.642445                  N
1458553         -74.021095         40.628605                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
24                2485     Friday             4      6            8
67                1003   Saturday             5      6           22
115               2116     Monday             0      6            0
167               2543    Tuesday             1      4            8
351               1968  Wednesday             2      2           17
...                ...        ...           ...    ...          ...
1457723           1928     Friday             4      2           21
1457806           2293    Tuesday             1      1           16
1457951           1349     Monday             0      2           14
1458375           1954     Sunday             6      5           22
1458553           1290   Thursday             3      4            3

          distance  speed_m_s  speed_km_hr
24       20.612408   8.294732    29.861034
67       13.106379  13.067177    47.041838
115      27.127888  12.820363    46.153306
167      13.314938   5.235917    18.849303
351      12.196989   6.197657    22.311565
...            ...        ...          ...
1457723  18.094280   9.385000    33.786000
1457806   6.733762   2.936660    10.571977
1457951   4.584572   3.398496    12.234587
1458375  10.633024   5.441671    19.590014
1458553  11.408997   8.844184    31.839062

[17298 rows x 18 columns]

Outliers in column 'distance':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
24       id3321406          2 2016-06-03 08:15:05 2016-06-03 08:56:30
50       id2067879          2 2016-01-19 23:19:01 2016-01-19 23:44:58
86       id0283075          1 2016-04-06 23:42:26 2016-04-07 00:12:08
102      id0105610          1 2016-02-19 20:01:24 2016-02-19 20:35:49
104      id3508035          2 2016-06-06 20:13:56 2016-06-06 20:45:20
...            ...        ...                 ...                 ...
1458485  id1896027          1 2016-04-03 05:13:28 2016-04-03 05:40:08
1458550  id2976426          1 2016-06-06 10:48:13 2016-06-06 11:40:31
1458571  id1440046          1 2016-06-26 22:59:48 2016-06-26 23:40:42
1458584  id1607338          2 2016-06-14 20:37:11 2016-06-14 21:16:06
1458600  id0995846          2 2016-05-09 17:26:56 2016-05-09 18:30:37

         passenger_count  pickup_longitude  pickup_latitude  \
24                     1        -73.955231        40.777134
50                     1        -73.996819        40.752861
86                     1        -73.782478        40.644646
102                    3        -73.789719        40.643707
104                    6        -73.788132        40.641460
...                  ...               ...              ...
1458485                1        -73.975128        40.759548
1458550                3        -73.784454        40.648521
1458571                2        -73.778946        40.647343
1458584                1        -73.786697        40.641628
1458600                2        -73.789543        40.647099

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
24              -73.788750         40.641472                  N
50              -73.809006         40.816875                  N
86              -73.981125         40.720886                  N
102             -73.978699         40.750343                  N
104             -73.971771         40.749409                  N
...                    ...               ...                ...
1458485         -74.177544         40.695343                  N
1458550         -73.972176         40.757133                  N
1458571         -73.952103         40.781166                  N
1458584         -73.996880         40.732506                  N
1458600         -73.960320         40.798180                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
24                2485     Friday             4      6            8
50                1557    Tuesday             1      1           23
86                1782  Wednesday             2      4           23
102               2065     Friday             4      2           20
104               1884     Monday             0      6           20
...                ...        ...           ...    ...          ...
1458485           1600     Sunday             6      4            5
1458550           3138     Monday             0      6           10
1458571           2454     Sunday             6      6           22
1458584           2335    Tuesday             1      6           20
1458600           3821     Monday             0      5           17

          distance  speed_m_s  speed_km_hr
24       20.612408   8.294732    29.861034
50       17.373834  11.158532    40.170715
86       18.806512  10.553598    37.992953
102      19.883300   9.628717    34.663380
104      19.611575  10.409541    37.474347
...            ...        ...          ...
1458485  18.527083  11.579427    41.685937
1458550  19.928867   6.350818    22.862945
1458571  20.854744   8.498266    30.593757
1458584  20.433126   8.750804    31.502893
1458600  22.128177   5.791200    20.848322

[40104 rows x 18 columns]
Outliers in column 'speed_m_s':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
991      id1859156          1 2016-02-17 00:54:13 2016-02-17 01:36:27
1107     id0729156          2 2016-06-23 13:36:48 2016-06-23 13:36:50
1383     id1904103          2 2016-06-05 04:58:04 2016-06-05 05:23:19
1492     id2456838          1 2016-01-13 20:11:46 2016-01-13 20:11:53
1870     id2641288          2 2016-04-03 08:34:32 2016-04-03 08:49:58
...            ...        ...                 ...                 ...
1450392  id1169422          2 2016-05-09 07:17:16 2016-05-09 07:29:33
1452172  id0788889          2 2016-06-26 08:13:52 2016-06-26 08:29:44
1453346  id1081148          1 2016-05-17 04:14:11 2016-05-17 04:33:49
1454727  id3458201          2 2016-05-03 21:39:04 2016-05-03 22:42:51
1454881  id1847851          2 2016-02-22 07:38:52 2016-02-22 07:38:56

         passenger_count  pickup_longitude  pickup_latitude  \
991                    3        -73.969254        40.754047
1107                   3        -73.827660        40.716175
1383                   1        -73.777443        40.646641
1492                   1        -73.793442        40.644814
1870                   1        -73.789841        40.646961
...                  ...               ...              ...
1450392                1        -73.993652        40.646858
1452172                1        -73.870941        40.773701
1453346                1        -73.976677        40.744339
1454727                1        -73.876328        40.772141
1454881                1        -73.975182        40.755562

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
991             -73.593582         41.043865                  N
1107            -73.822113         40.711452                  N
1383            -73.935776         40.848473                  N
1492            -73.795242         40.644669                  N
1870            -73.872818         40.774250                  N
...                    ...               ...                ...
1450392         -73.957916         40.765259                  N
1452172         -73.782562         40.644138                  N
1453346         -73.786133         40.643898                  N
1454727         -73.287422         41.138100                  N
1454881         -73.973877         40.755661                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
991               2534  Wednesday             2      2            0
1107                 2   Thursday             3      6           13
1383              1515     Sunday             6      6            4
1492                 7  Wednesday             2      1           20
1870               926     Sunday             6      4            8
...                ...        ...           ...    ...          ...
1450392            737     Monday             0      5            7
1452172            952     Sunday             6      6            8
1453346           1178    Tuesday             1      5            4
1454727           3827    Tuesday             1      5           21
1454881              4     Monday             0      2            7

          distance   speed_m_s  speed_km_hr
991      45.143322   17.815044    64.134159
1107      0.703342  351.670765  1266.014753
1383     26.099120   17.227142    62.017711
1492      0.153147   21.878189    78.761479
1870     15.778745   17.039681    61.342853
...            ...         ...          ...
1450392  13.490543   18.304672    65.896818
1452172  16.210556   17.027895    61.300422
1453346  19.590522   16.630325    59.869169
1454727  64.108853   16.751725    60.306211
1454881   0.110719   27.679653    99.646752

[737 rows x 18 columns]
Outliers in column 'speed_km_hr':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
991      id1859156          1 2016-02-17 00:54:13 2016-02-17 01:36:27
1107     id0729156          2 2016-06-23 13:36:48 2016-06-23 13:36:50
1383     id1904103          2 2016-06-05 04:58:04 2016-06-05 05:23:19
1492     id2456838          1 2016-01-13 20:11:46 2016-01-13 20:11:53
1870     id2641288          2 2016-04-03 08:34:32 2016-04-03 08:49:58
...            ...        ...                 ...                 ...
1450392  id1169422          2 2016-05-09 07:17:16 2016-05-09 07:29:33
1452172  id0788889          2 2016-06-26 08:13:52 2016-06-26 08:29:44
1453346  id1081148          1 2016-05-17 04:14:11 2016-05-17 04:33:49
1454727  id3458201          2 2016-05-03 21:39:04 2016-05-03 22:42:51
1454881  id1847851          2 2016-02-22 07:38:52 2016-02-22 07:38:56

         passenger_count  pickup_longitude  pickup_latitude  \
991                    3        -73.969254        40.754047
1107                   3        -73.827660        40.716175
1383                   1        -73.777443        40.646641
1492                   1        -73.793442        40.644814
1870                   1        -73.789841        40.646961
...                  ...               ...              ...
1450392                1        -73.993652        40.646858
1452172                1        -73.870941        40.773701
1453346                1        -73.976677        40.744339
1454727                1        -73.876328        40.772141
1454881                1        -73.975182        40.755562

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
991             -73.593582         41.043865                  N
1107            -73.822113         40.711452                  N
1383            -73.935776         40.848473                  N
1492            -73.795242         40.644669                  N
1870            -73.872818         40.774250                  N
...                    ...               ...                ...
1450392         -73.957916         40.765259                  N
1452172         -73.782562         40.644138                  N
1453346         -73.786133         40.643898                  N
1454727         -73.287422         41.138100                  N
1454881         -73.973877         40.755661                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
991               2534  Wednesday             2      2            0
1107                 2   Thursday             3      6           13
1383              1515     Sunday             6      6            4
1492                 7  Wednesday             2      1           20
1870               926     Sunday             6      4            8
...                ...        ...           ...    ...          ...
1450392            737     Monday             0      5            7
1452172            952     Sunday             6      6            8
1453346           1178    Tuesday             1      5            4
1454727           3827    Tuesday             1      5           21
1454881              4     Monday             0      2            7

          distance   speed_m_s  speed_km_hr
991      45.143322   17.815044    64.134159
1107      0.703342  351.670765  1266.014753
1383     26.099120   17.227142    62.017711
1492      0.153147   21.878189    78.761479
1870     15.778745   17.039681    61.342853
...            ...         ...          ...
1450392  13.490543   18.304672    65.896818
1452172  16.210556   17.027895    61.300422
1453346  19.590522   16.630325    59.869169
1454727  64.108853   16.751725    60.306211
1454881   0.110719   27.679653    99.646752

[737 rows x 18 columns]

In [23]:
for column in numerical_columns:
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]
    
    print(f"Outliers in column '{column}':")
    print(outliers)

Outliers in column 'trip_duration':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
2        id3858529          2 2016-01-19 11:35:24 2016-01-19 12:10:48
16       id3379579          2 2016-04-11 17:29:50 2016-04-11 18:08:26
24       id3321406          2 2016-06-03 08:15:05 2016-06-03 08:56:30
29       id1410897          1 2016-03-23 14:10:39 2016-03-23 14:49:30
33       id0023813          1 2016-04-17 14:38:30 2016-04-17 15:16:19
...            ...        ...                 ...                 ...
1458571  id1440046          1 2016-06-26 22:59:48 2016-06-26 23:40:42
1458584  id1607338          2 2016-06-14 20:37:11 2016-06-14 21:16:06
1458589  id2071901          1 2016-06-10 16:48:20 2016-06-10 17:23:13
1458600  id0995846          2 2016-05-09 17:26:56 2016-05-09 18:30:37
1458621  id3267199          2 2016-05-09 14:33:30 2016-05-09 15:12:45

         passenger_count  pickup_longitude  pickup_latitude  \
2                      1        -73.979027        40.763939
16                     1        -73.991165        40.755562
24                     1        -73.955231        40.777134
29                     1        -73.982117        40.756351
33                     1        -73.990311        40.756580
...                  ...               ...              ...
1458571                2        -73.778946        40.647343
1458584                1        -73.786697        40.641628
1458589                2        -73.782280        40.644783
1458600                2        -73.789543        40.647099
1458621                1        -73.959534        40.782749

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
2               -74.005333         40.710087                  N
16              -73.999290         40.725353                  N
24              -73.788750         40.641472                  N
29              -73.865692         40.770988                  N
33              -73.870918         40.773930                  N
...                    ...               ...                ...
1458571         -73.952103         40.781166                  N
1458584         -73.996880         40.732506                  N
1458589         -73.904305         40.738285                  N
1458600         -73.960320         40.798180                  N
1458621         -73.990959         40.751091                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
2                 2124    Tuesday             1      1           11
16                2316     Monday             0      4           17
24                2485     Friday             4      6            8
29                2331  Wednesday             2      3           14
33                2269     Sunday             6      4           14
...                ...        ...           ...    ...          ...
1458571           2454     Sunday             6      6           22
1458584           2335    Tuesday             1      6           20
1458589           2093     Friday             4      6           16
1458600           3821     Monday             0      5           17
1458621           2355     Monday             0      5           14

          distance  speed_m_s  speed_km_hr
2         6.379687   3.003619    10.813029
16        3.424113   1.478460     5.322455
24       20.612408   8.294732    29.861034
29        9.963780   4.274466    15.388078
33       10.263112   4.523187    16.283475
...            ...        ...          ...
1458571  20.854744   8.498266    30.593757
1458584  20.433126   8.750804    31.502893
1458589  14.635408   6.992550    25.173181
1458600  22.128177   5.791200    20.848322
1458621   4.404485   1.870270     6.732971

[74220 rows x 18 columns]
Outliers in column 'pickup_longitude':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
55       id3827863          2 2016-04-19 11:29:08 2016-04-19 12:27:56
70       id3896508          2 2016-06-07 22:32:32 2016-06-07 22:46:06
86       id0283075          1 2016-04-06 23:42:26 2016-04-07 00:12:08
93       id2030290          1 2016-03-31 11:33:30 2016-03-31 12:12:31
98       id2102594          1 2016-03-30 16:14:29 2016-03-30 17:01:33
...            ...        ...                 ...                 ...
1458584  id1607338          2 2016-06-14 20:37:11 2016-06-14 21:16:06
1458589  id2071901          1 2016-06-10 16:48:20 2016-06-10 17:23:13
1458590  id0150251          2 2016-04-06 09:33:27 2016-04-06 09:36:55
1458600  id0995846          2 2016-05-09 17:26:56 2016-05-09 18:30:37
1458636  id0405770          2 2016-02-12 10:13:06 2016-02-12 10:26:26

         passenger_count  pickup_longitude  pickup_latitude  \
55                     3        -73.792892        40.657879
70                     1        -73.863380        40.769890
86                     1        -73.782478        40.644646
93                     3        -73.864319        40.769829
98                     1        -73.789841        40.643559
...                  ...               ...              ...
1458584                1        -73.786697        40.641628
1458589                2        -73.782280        40.644783
1458590                1        -73.923187        40.743912
1458600                2        -73.789543        40.647099
1458636                1        -73.863815        40.769684

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
55              -73.809189         40.690182                  N
70              -73.837128         40.721359                  N
86              -73.981125         40.720886                  N
93              -73.985863         40.760952                  N
98              -73.970665         40.687279                  N
...                    ...               ...                ...
1458584         -73.996880         40.732506                  N
1458589         -73.904305         40.738285                  N
1458590         -73.929314         40.746948                  N
1458600         -73.960320         40.798180                  N
1458636         -73.864395         40.761326                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
55                3528    Tuesday             1      4           11
70                 814    Tuesday             1      6           22
86                1782  Wednesday             2      4           23
93                2341   Thursday             3      3           11
98                2824  Wednesday             2      3           16
...                ...        ...           ...    ...          ...
1458584           2335    Tuesday             1      6           20
1458589           2093     Friday             4      6           16
1458590            208  Wednesday             2      4            9
1458600           3821     Monday             0      5           17
1458636            800     Friday             4      2           10

          distance  speed_m_s  speed_km_hr
55        3.842669   1.089192     3.921091
70        5.827559   7.159164    25.772989
86       18.806512  10.553598    37.992953
93       10.309526   4.403899    15.854035
98       16.042634   5.680819    20.450950
...            ...        ...          ...
1458584  20.433126   8.750804    31.502893
1458589  14.635408   6.992550    25.173181
1458590   0.617602   2.969239    10.689259
1458600  22.128177   5.791200    20.848322
1458636   0.929441   1.161801     4.182485

[84322 rows x 18 columns]
Outliers in column 'pickup_latitude':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
55       id3827863          2 2016-04-19 11:29:08 2016-04-19 12:27:56
86       id0283075          1 2016-04-06 23:42:26 2016-04-07 00:12:08
98       id2102594          1 2016-03-30 16:14:29 2016-03-30 17:01:33
102      id0105610          1 2016-02-19 20:01:24 2016-02-19 20:35:49
104      id3508035          2 2016-06-06 20:13:56 2016-06-06 20:45:20
...            ...        ...                 ...                 ...
1458550  id2976426          1 2016-06-06 10:48:13 2016-06-06 11:40:31
1458571  id1440046          1 2016-06-26 22:59:48 2016-06-26 23:40:42
1458584  id1607338          2 2016-06-14 20:37:11 2016-06-14 21:16:06
1458589  id2071901          1 2016-06-10 16:48:20 2016-06-10 17:23:13
1458600  id0995846          2 2016-05-09 17:26:56 2016-05-09 18:30:37

         passenger_count  pickup_longitude  pickup_latitude  \
55                     3        -73.792892        40.657879
86                     1        -73.782478        40.644646
98                     1        -73.789841        40.643559
102                    3        -73.789719        40.643707
104                    6        -73.788132        40.641460
...                  ...               ...              ...
1458550                3        -73.784454        40.648521
1458571                2        -73.778946        40.647343
1458584                1        -73.786697        40.641628
1458589                2        -73.782280        40.644783
1458600                2        -73.789543        40.647099

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
55              -73.809189         40.690182                  N
86              -73.981125         40.720886                  N
98              -73.970665         40.687279                  N
102             -73.978699         40.750343                  N
104             -73.971771         40.749409                  N
...                    ...               ...                ...
1458550         -73.972176         40.757133                  N
1458571         -73.952103         40.781166                  N
1458584         -73.996880         40.732506                  N
1458589         -73.904305         40.738285                  N
1458600         -73.960320         40.798180                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
55                3528    Tuesday             1      4           11
86                1782  Wednesday             2      4           23
98                2824  Wednesday             2      3           16
102               2065     Friday             4      2           20
104               1884     Monday             0      6           20
...                ...        ...           ...    ...          ...
1458550           3138     Monday             0      6           10
1458571           2454     Sunday             6      6           22
1458584           2335    Tuesday             1      6           20
1458589           2093     Friday             4      6           16
1458600           3821     Monday             0      5           17

          distance  speed_m_s  speed_km_hr
55        3.842669   1.089192     3.921091
86       18.806512  10.553598    37.992953
98       16.042634   5.680819    20.450950
102      19.883300   9.628717    34.663380
104      19.611575  10.409541    37.474347
...            ...        ...          ...
1458550  19.928867   6.350818    22.862945
1458571  20.854744   8.498266    30.593757
1458584  20.433126   8.750804    31.502893
1458589  14.635408   6.992550    25.173181
1458600  22.128177   5.791200    20.848322

[52743 rows x 18 columns]
Outliers in column 'dropoff_longitude':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
24       id3321406          2 2016-06-03 08:15:05 2016-06-03 08:56:30
29       id1410897          1 2016-03-23 14:10:39 2016-03-23 14:49:30
33       id0023813          1 2016-04-17 14:38:30 2016-04-17 15:16:19
50       id2067879          2 2016-01-19 23:19:01 2016-01-19 23:44:58
55       id3827863          2 2016-04-19 11:29:08 2016-04-19 12:27:56
...            ...        ...                 ...                 ...
1458536  id3423195          2 2016-04-09 04:29:43 2016-04-09 04:57:47
1458538  id1302341          1 2016-02-15 19:21:09 2016-02-15 19:46:40
1458547  id2525150          1 2016-03-08 12:56:58 2016-03-08 13:20:07
1458589  id2071901          1 2016-06-10 16:48:20 2016-06-10 17:23:13
1458636  id0405770          2 2016-02-12 10:13:06 2016-02-12 10:26:26

         passenger_count  pickup_longitude  pickup_latitude  \
24                     1        -73.955231        40.777134
29                     1        -73.982117        40.756351
33                     1        -73.990311        40.756580
50                     1        -73.996819        40.752861
55                     3        -73.792892        40.657879
...                  ...               ...              ...
1458536                2        -73.985168        40.727493
1458538                1        -73.973053        40.793495
1458547                1        -73.978241        40.744911
1458589                2        -73.782280        40.644783
1458636                1        -73.863815        40.769684

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
24              -73.788750         40.641472                  N
29              -73.865692         40.770988                  N
33              -73.870918         40.773930                  N
50              -73.809006         40.816875                  N
55              -73.809189         40.690182                  N
...                    ...               ...                ...
1458536         -73.907326         40.683338                  N
1458538         -73.872581         40.774479                  N
1458547         -73.870483         40.773777                  N
1458589         -73.904305         40.738285                  N
1458636         -73.864395         40.761326                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
24                2485     Friday             4      6            8
29                2331  Wednesday             2      3           14
33                2269     Sunday             6      4           14
50                1557    Tuesday             1      1           23
55                3528    Tuesday             1      4           11
...                ...        ...           ...    ...          ...
1458536           1684   Saturday             5      4            4
1458538           1531     Monday             0      2           19
1458547           1389    Tuesday             1      3           12
1458589           2093     Friday             4      6           16
1458636            800     Friday             4      2           10

          distance  speed_m_s  speed_km_hr
24       20.612408   8.294732    29.861034
29        9.963780   4.274466    15.388078
33       10.263112   4.523187    16.283475
50       17.373834  11.158532    40.170715
55        3.842669   1.089192     3.921091
...            ...        ...          ...
1458536   8.204751   4.872180    17.539847
1458538   8.739690   5.708485    20.550546
1458547   9.647227   6.945448    25.003611
1458589  14.635408   6.992550    25.173181
1458636   0.929441   1.161801     4.182485

[77969 rows x 18 columns]

Outliers in column 'dropoff_latitude':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
24       id3321406          2 2016-06-03 08:15:05 2016-06-03 08:56:30
27       id2104175          1 2016-06-20 23:07:16 2016-06-20 23:18:50
31       id2822549          2 2016-05-21 13:03:24 2016-05-21 13:20:52
67       id3913101          1 2016-06-25 22:05:46 2016-06-25 22:22:29
115      id2358953          2 2016-06-27 00:31:28 2016-06-27 01:06:44
...            ...        ...                 ...                 ...
1458424  id0998702          2 2016-03-06 02:15:18 2016-03-06 02:24:16
1458457  id0960839          2 2016-04-17 11:22:43 2016-04-17 11:37:41
1458536  id3423195          2 2016-04-09 04:29:43 2016-04-09 04:57:47
1458553  id2796154          1 2016-04-21 03:30:00 2016-04-21 03:51:30
1458629  id3109086          2 2016-06-24 10:33:51 2016-06-24 10:43:52

         passenger_count  pickup_longitude  pickup_latitude  \
24                     1        -73.955231        40.777134
27                     1        -73.958435        40.713192
31                     1        -73.998268        40.720039
67                     2        -74.001411        40.761433
115                    1        -73.870819        40.773739
...                  ...               ...              ...
1458424                1        -73.963203        40.671833
1458457                1        -73.998093        40.723560
1458536                2        -73.985168        40.727493
1458553                1        -73.985817        40.727772
1458629                1        -73.959618        40.808941

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
24              -73.788750         40.641472                  N
27              -73.949539         40.680252                  N
31              -74.010361         40.672138                  N
67              -73.924629         40.864029                  N
115             -73.857498         41.017811                  N
...                    ...               ...                ...
1458424         -73.960808         40.648785                  N
1458457         -73.976562         40.683609                  N
1458536         -73.907326         40.683338                  N
1458553         -74.021095         40.628605                  N
1458629         -73.947922         40.830189                  N

         trip_duration  week_day  week_day_num  month  pickup_hour   distance  \
24                2485    Friday             4      6            8  20.612408
27                 694    Monday             0      6           23   3.734387
31                1048  Saturday             5      5           13   5.416631
67                1003  Saturday             5      6           22  13.106379
115               2116    Monday             0      6            0  27.127888
...                ...       ...           ...    ...          ...        ...
1458424            538    Sunday             6      3            2   2.567469
1458457            898    Sunday             6      4           11   4.795147
1458536           1684  Saturday             5      4            4   8.204751
1458553           1290  Thursday             3      4            3  11.408997
1458629            601    Friday             4      6           10   2.557585

         speed_m_s  speed_km_hr
24        8.294732    29.861034
27        5.380961    19.371459
31        5.168541    18.606748
67       13.067177    47.041838
115      12.820363    46.153306
...            ...          ...
1458424   4.772247    17.180090
1458457   5.339807    19.223305
1458536   4.872180    17.539847
1458553   8.844184    31.839062
1458629   4.255548    15.319974

[71990 rows x 18 columns]
Outliers in column 'distance':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
24       id3321406          2 2016-06-03 08:15:05 2016-06-03 08:56:30
29       id1410897          1 2016-03-23 14:10:39 2016-03-23 14:49:30
33       id0023813          1 2016-04-17 14:38:30 2016-04-17 15:16:19
45       id0718344          2 2016-06-13 15:52:20 2016-06-13 16:16:58
50       id2067879          2 2016-01-19 23:19:01 2016-01-19 23:44:58
...            ...        ...                 ...                 ...
1458563  id2913513          2 2016-04-20 12:27:05 2016-04-20 13:06:45
1458571  id1440046          1 2016-06-26 22:59:48 2016-06-26 23:40:42
1458584  id1607338          2 2016-06-14 20:37:11 2016-06-14 21:16:06
1458589  id2071901          1 2016-06-10 16:48:20 2016-06-10 17:23:13
1458600  id0995846          2 2016-05-09 17:26:56 2016-05-09 18:30:37

         passenger_count  pickup_longitude  pickup_latitude  \
24                     1        -73.955231        40.777134
29                     1        -73.982117        40.756351
33                     1        -73.990311        40.756580
45                     1        -74.016327        40.704990
50                     1        -73.996819        40.752861
...                  ...               ...              ...
1458563                5        -73.872917        40.774212
1458571                2        -73.778946        40.647343
1458584                1        -73.786697        40.641628
1458589                2        -73.782280        40.644783
1458600                2        -73.789543        40.647099

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
24              -73.788750         40.641472                  N
29              -73.865692         40.770988                  N
33              -73.870918         40.773930                  N
45              -73.982109         40.773750                  N
50              -73.809006         40.816875                  N
...                    ...               ...                ...
1458563         -73.982094         40.774651                  N
1458571         -73.952103         40.781166                  N
1458584         -73.996880         40.732506                  N
1458589         -73.904305         40.738285                  N
1458600         -73.960320         40.798180                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
24                2485     Friday             4      6            8
29                2331  Wednesday             2      3           14
33                2269     Sunday             6      4           14
45                1478     Monday             0      6           15
50                1557    Tuesday             1      1           23
...                ...        ...           ...    ...          ...
1458563           2380  Wednesday             2      4           12
1458571           2454     Sunday             6      6           22
1458584           2335    Tuesday             1      6           20
1458589           2093     Friday             4      6           16
1458600           3821     Monday             0      5           17

          distance  speed_m_s  speed_km_hr
24       20.612408   8.294732    29.861034
29        9.963780   4.274466    15.388078
33       10.263112   4.523187    16.283475
45        8.164407   5.523956    19.886242
50       17.373834  11.158532    40.170715
...            ...        ...          ...
1458563   9.216969   3.872676    13.941633
1458571  20.854744   8.498266    30.593757
1458584  20.433126   8.750804    31.502893
1458589  14.635408   6.992550    25.173181
1458600  22.128177   5.791200    20.848322

[140775 rows x 18 columns]
Outliers in column 'speed_m_s':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
50       id2067879          2 2016-01-19 23:19:01 2016-01-19 23:44:58
54       id0526266          2 2016-05-15 09:42:58 2016-05-15 09:56:37
67       id3913101          1 2016-06-25 22:05:46 2016-06-25 22:22:29
86       id0283075          1 2016-04-06 23:42:26 2016-04-07 00:12:08
102      id0105610          1 2016-02-19 20:01:24 2016-02-19 20:35:49
...            ...        ...                 ...                 ...
1458553  id2796154          1 2016-04-21 03:30:00 2016-04-21 03:51:30
1458570  id1608086          1 2016-06-06 11:57:49 2016-06-06 12:04:43
1458584  id1607338          2 2016-06-14 20:37:11 2016-06-14 21:16:06
1458640  id1049543          1 2016-01-10 07:35:15 2016-01-10 07:46:10
1458641  id2304944          2 2016-04-22 06:57:41 2016-04-22 07:10:25

         passenger_count  pickup_longitude  pickup_latitude  \
50                     1        -73.996819        40.752861
54                     1        -73.934883        40.801010
67                     2        -74.001411        40.761433
86                     1        -73.782478        40.644646
102                    3        -73.789719        40.643707
...                  ...               ...              ...
1458553                1        -73.985817        40.727772
1458570                1        -73.944931        40.778645
1458584                1        -73.786697        40.641628
1458640                1        -74.000946        40.747379
1458641                1        -73.959129        40.768799

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
50              -73.809006         40.816875                  N
54              -73.983002         40.722569                  N
67              -73.924629         40.864029                  N
86              -73.981125         40.720886                  N
102             -73.978699         40.750343                  N
...                    ...               ...                ...
1458553         -74.021095         40.628605                  N
1458570         -73.924332         40.807053                  N
1458584         -73.996880         40.732506                  N
1458640         -73.970184         40.796547                  N
1458641         -74.004433         40.707371                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
50                1557    Tuesday             1      1           23
54                 819     Sunday             6      5            9
67                1003   Saturday             5      6           22
86                1782  Wednesday             2      4           23
102               2065     Friday             4      2           20
...                ...        ...           ...    ...          ...
1458553           1290   Thursday             3      4            3
1458570            414     Monday             0      6           11
1458584           2335    Tuesday             1      6           20
1458640            655     Sunday             6      1            7
1458641            764     Friday             4      4            6

          distance  speed_m_s  speed_km_hr
50       17.373834  11.158532    40.170715
54        9.611846  11.736075    42.249871
67       13.106379  13.067177    47.041838
86       18.806512  10.553598    37.992953
102      19.883300   9.628717    34.663380
...            ...        ...          ...
1458553  11.408997   8.844184    31.839062
1458570   3.602048   8.700598    31.322152
1458584  20.433126   8.750804    31.502893
1458640   6.046212   9.230858    33.231088
1458641   7.821532  10.237607    36.855386

[59730 rows x 18 columns]

Outliers in column 'speed_km_hr':
                id  vendor_id     pickup_datetime    dropoff_datetime  \
50       id2067879          2 2016-01-19 23:19:01 2016-01-19 23:44:58
54       id0526266          2 2016-05-15 09:42:58 2016-05-15 09:56:37
67       id3913101          1 2016-06-25 22:05:46 2016-06-25 22:22:29
86       id0283075          1 2016-04-06 23:42:26 2016-04-07 00:12:08
102      id0105610          1 2016-02-19 20:01:24 2016-02-19 20:35:49
...            ...        ...                 ...                 ...
1458553  id2796154          1 2016-04-21 03:30:00 2016-04-21 03:51:30
1458570  id1608086          1 2016-06-06 11:57:49 2016-06-06 12:04:43
1458584  id1607338          2 2016-06-14 20:37:11 2016-06-14 21:16:06
1458640  id1049543          1 2016-01-10 07:35:15 2016-01-10 07:46:10
1458641  id2304944          2 2016-04-22 06:57:41 2016-04-22 07:10:25

         passenger_count  pickup_longitude  pickup_latitude  \
50                     1        -73.996819        40.752861
54                     1        -73.934883        40.801010
67                     2        -74.001411        40.761433
86                     1        -73.782478        40.644646
102                    3        -73.789719        40.643707
...                  ...               ...              ...
1458553                1        -73.985817        40.727772
1458570                1        -73.944931        40.778645
1458584                1        -73.786697        40.641628
1458640                1        -74.000946        40.747379
1458641                1        -73.959129        40.768799

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
50              -73.809006         40.816875                  N
54              -73.983002         40.722569                  N
67              -73.924629         40.864029                  N
86              -73.981125         40.720886                  N
102             -73.978699         40.750343                  N
...                    ...               ...                ...
1458553         -74.021095         40.628605                  N
1458570         -73.924332         40.807053                  N
1458584         -73.996880         40.732506                  N
1458640         -73.970184         40.796547                  N
1458641         -74.004433         40.707371                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
50                1557    Tuesday             1      1           23
54                 819     Sunday             6      5            9
67                1003   Saturday             5      6           22
86                1782  Wednesday             2      4           23
102               2065     Friday             4      2           20
...                ...        ...           ...    ...          ...
1458553           1290   Thursday             3      4            3
1458570            414     Monday             0      6           11
1458584           2335    Tuesday             1      6           20
1458640            655     Sunday             6      1            7
1458641            764     Friday             4      4            6

          distance  speed_m_s  speed_km_hr
50       17.373834  11.158532    40.170715
54        9.611846  11.736075    42.249871
67       13.106379  13.067177    47.041838
86       18.806512  10.553598    37.992953
102      19.883300   9.628717    34.663380
...            ...        ...          ...
1458553  11.408997   8.844184    31.839062
1458570   3.602048   8.700598    31.322152
1458584  20.433126   8.750804    31.502893
1458640   6.046212   9.230858    33.231088
1458641   7.821532  10.237607    36.855386

[59730 rows x 18 columns]

In [24]:
z_scores = stats.zscore(data['speed_km_hr'])
threshold = 3 
outliers_zscore = data[abs(z_scores) > threshold]
Q1 = data['speed_km_hr'].quantile(0.25)
Q3 = data['speed_km_hr'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers_iqr = data[(data['speed_km_hr'] < lower_bound) | (data['speed_km_hr'] > upper_bound)]
print("Outliers based on Z-Score:")
print(outliers_zscore)
print("\nOutliers based on IQR:")
print(outliers_iqr)

Outliers based on Z-Score:
                id  vendor_id     pickup_datetime    dropoff_datetime  \
991      id1859156          1 2016-02-17 00:54:13 2016-02-17 01:36:27
1107     id0729156          2 2016-06-23 13:36:48 2016-06-23 13:36:50
1383     id1904103          2 2016-06-05 04:58:04 2016-06-05 05:23:19
1492     id2456838          1 2016-01-13 20:11:46 2016-01-13 20:11:53
1870     id2641288          2 2016-04-03 08:34:32 2016-04-03 08:49:58
...            ...        ...                 ...                 ...
1450392  id1169422          2 2016-05-09 07:17:16 2016-05-09 07:29:33
1452172  id0788889          2 2016-06-26 08:13:52 2016-06-26 08:29:44
1453346  id1081148          1 2016-05-17 04:14:11 2016-05-17 04:33:49
1454727  id3458201          2 2016-05-03 21:39:04 2016-05-03 22:42:51
1454881  id1847851          2 2016-02-22 07:38:52 2016-02-22 07:38:56

         passenger_count  pickup_longitude  pickup_latitude  \
991                    3        -73.969254        40.754047
1107                   3        -73.827660        40.716175
1383                   1        -73.777443        40.646641
1492                   1        -73.793442        40.644814
1870                   1        -73.789841        40.646961
...                  ...               ...              ...
1450392                1        -73.993652        40.646858
1452172                1        -73.870941        40.773701
1453346                1        -73.976677        40.744339
1454727                1        -73.876328        40.772141
1454881                1        -73.975182        40.755562

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
991             -73.593582         41.043865                  N
1107            -73.822113         40.711452                  N
1383            -73.935776         40.848473                  N
1492            -73.795242         40.644669                  N
1870            -73.872818         40.774250                  N
...                    ...               ...                ...
1450392         -73.957916         40.765259                  N
1452172         -73.782562         40.644138                  N
1453346         -73.786133         40.643898                  N
1454727         -73.287422         41.138100                  N
1454881         -73.973877         40.755661                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
991               2534  Wednesday             2      2            0
1107                 2   Thursday             3      6           13
1383              1515     Sunday             6      6            4
1492                 7  Wednesday             2      1           20
1870               926     Sunday             6      4            8
...                ...        ...           ...    ...          ...
1450392            737     Monday             0      5            7
1452172            952     Sunday             6      6            8
1453346           1178    Tuesday             1      5            4
1454727           3827    Tuesday             1      5           21
1454881              4     Monday             0      2            7

          distance   speed_m_s  speed_km_hr
991      45.143322   17.815044    64.134159
1107      0.703342  351.670765  1266.014753
1383     26.099120   17.227142    62.017711
1492      0.153147   21.878189    78.761479
1870     15.778745   17.039681    61.342853
...            ...         ...          ...
1450392  13.490543   18.304672    65.896818
1452172  16.210556   17.027895    61.300422
1453346  19.590522   16.630325    59.869169
1454727  64.108853   16.751725    60.306211
1454881   0.110719   27.679653    99.646752

[737 rows x 18 columns]

Outliers based on IQR:
                id  vendor_id     pickup_datetime    dropoff_datetime  \
50       id2067879          2 2016-01-19 23:19:01 2016-01-19 23:44:58
54       id0526266          2 2016-05-15 09:42:58 2016-05-15 09:56:37
67       id3913101          1 2016-06-25 22:05:46 2016-06-25 22:22:29
86       id0283075          1 2016-04-06 23:42:26 2016-04-07 00:12:08
102      id0105610          1 2016-02-19 20:01:24 2016-02-19 20:35:49
...            ...        ...                 ...                 ...
1458553  id2796154          1 2016-04-21 03:30:00 2016-04-21 03:51:30
1458570  id1608086          1 2016-06-06 11:57:49 2016-06-06 12:04:43
1458584  id1607338          2 2016-06-14 20:37:11 2016-06-14 21:16:06
1458640  id1049543          1 2016-01-10 07:35:15 2016-01-10 07:46:10
1458641  id2304944          2 2016-04-22 06:57:41 2016-04-22 07:10:25

         passenger_count  pickup_longitude  pickup_latitude  \
50                     1        -73.996819        40.752861
54                     1        -73.934883        40.801010
67                     2        -74.001411        40.761433
86                     1        -73.782478        40.644646
102                    3        -73.789719        40.643707
...                  ...               ...              ...
1458553                1        -73.985817        40.727772
1458570                1        -73.944931        40.778645
1458584                1        -73.786697        40.641628
1458640                1        -74.000946        40.747379
1458641                1        -73.959129        40.768799

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
50              -73.809006         40.816875                  N
54              -73.983002         40.722569                  N
67              -73.924629         40.864029                  N
86              -73.981125         40.720886                  N
102             -73.978699         40.750343                  N
...                    ...               ...                ...
1458553         -74.021095         40.628605                  N
1458570         -73.924332         40.807053                  N
1458584         -73.996880         40.732506                  N
1458640         -73.970184         40.796547                  N
1458641         -74.004433         40.707371                  N

         trip_duration   week_day  week_day_num  month  pickup_hour  \
50                1557    Tuesday             1      1           23
54                 819     Sunday             6      5            9
67                1003   Saturday             5      6           22
86                1782  Wednesday             2      4           23
102               2065     Friday             4      2           20
...                ...        ...           ...    ...          ...
1458553           1290   Thursday             3      4            3
1458570            414     Monday             0      6           11
1458584           2335    Tuesday             1      6           20
1458640            655     Sunday             6      1            7
1458641            764     Friday             4      4            6

          distance  speed_m_s  speed_km_hr
50       17.373834  11.158532    40.170715
54        9.611846  11.736075    42.249871
67       13.106379  13.067177    47.041838
86       18.806512  10.553598    37.992953
102      19.883300   9.628717    34.663380
...            ...        ...          ...
1458553  11.408997   8.844184    31.839062
1458570   3.602048   8.700598    31.322152
1458584  20.433126   8.750804    31.502893
1458640   6.046212   9.230858    33.231088
1458641   7.821532  10.237607    36.855386

[59730 rows x 18 columns]